<% flash.each do |key, value| %>
  <div class='alert alert-danger fade in notification-bar'>
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <%= value %>
  </div>
<% end %>
