<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <%= link_to ENV['APP_NAME'], root_path, class: 'brand' %>
      <div class="container nav-collapse">
        
        <%= render 'layouts/login_bar' %>
        
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>